

<h3>Option group</h3>
<div class="fieldset mb-3" >

  <label class="block  after:content-['*'] after:text-rose-700 after:pl-1 ">Edad</label>

  <div class="flex">

    <div class="flex flex-wrap rounded-lg shadow-md bg-white text-gray-500 leading-12 xl:leading-8">

      <div class="border-r border-black/5">
        <input type="radio" name="edad" id="iedad3" value="3"  required  class="peer sr-only"  />
        <label for="iedad3" class="cursor-pointer block px-3 peer-checked:font-bold peer-checked:text-rojo">
          3-5
        </label>
      </div>
      <div class="border-r border-black/5">
        <input type="radio" name="edad" id="iedad6" value="6"  required  class="peer sr-only" checked />
        <label for="iedad6" class="cursor-pointer block px-3 peer-checked:font-bold peer-checked:text-rojo">
          6-11
        </label>
      </div>
      <div class="border-r border-black/5">
        <input type="radio" name="edad" id="iedad12" value="12"  required  class="peer sr-only"  />
        <label for="iedad12" class="cursor-pointer block px-3 peer-checked:font-bold peer-checked:text-rojo">
          12-17
        </label>
      </div>
      <div class="border-r border-black/5">
        <input type="radio" name="edad" id="iedad18" value="18"  required  class="peer sr-only"  />
        <label for="iedad18" class="cursor-pointer block px-3 peer-checked:font-bold peer-checked:text-rojo">
          18+
        </label>
      </div>
    </div>
  </div>
</div>
<div class="overflow-hidden"></div>