

<h3>Option group</h3>
<div class="fieldset">
  <label class="block after:content-['*'] after:text-rose-700 after:pl-1 ">Principante</label>
  <label class="font-medium text-sm ">Principante</label>

  <div class="flex">
    <div class="flex flex-wrap rounded-lg shadow-md bg-white text-gray-500 leading-12 xl:leading-8">

      <div class="border-r border-black/5">
        <input class="peer sr-only" type="radio" name="nivel" id="inivel1" value="1" required="">
        <label for="inivel1" class="cursor-pointer block px-3 peer-checked:font-bold peer-checked:text-rojo">
          1
        </label>
      </div>
      <div class="border-r border-black/5">
        <input class="peer sr-only" type="radio" name="nivel" id="inivel2" value="2" required="">
        <label for="inivel2" class="cursor-pointer block px-3 peer-checked:font-bold peer-checked:text-rojo">
          2
        </label>
      </div>
      <div class="border-r border-black/5">
        <input class="peer sr-only" type="radio" name="nivel" id="inivel3" value="3" required="">
        <label for="inivel3" class="cursor-pointer block px-3 peer-checked:font-bold peer-checked:text-rojo">
          3
        </label>
      </div>

    </div>
  </div>
  <small class="text-xs">Marque su edad dando clic.</small>
</div>
<div class="overflow-hidden"></div>

<input type="text" class="w-full" />
<input type="date" class="w-[10rem]" />
<input type="datetime" class="w-[13rem]" />

<section class="flex justify-around font-accent font-medium text-sm leading-7">
  <a href="#" class="inline-block rounded-full border-2 py-2 xl:py-0 px-4 border-white bg-white text-gray-600 shadow-md">Regresar</a>

  <button class="rounded-full border-2 py-2 xl:py-0 px-4 border-rojo bg-rojo text-white shadow-md" data-toggle="modal" data-target="modal-pago-form">Pagar</button>
</section>