<div class="bg-gray-100 text-gray-600 dark:bg-azulw dark:text-gray-400"></div>

<div role="alert" class="alert toast fixed bottom-0 left-1/2 -translate-x-1/2 shadow-lg rounded-t-xl p-5 bg-white text-gray-600">
  <span class="block">Mi mensjae de info</span>
  <button type="button" class="btn-close absolute top-0 right-0 w-6" aria-label="Close"><i class="fa-light fa-times"></i></button>
</div>

<div role="alert" class="alert toast fixed bottom-0 left-1/2 -translate-x-1/2 shadow-lg rounded-t-xl p-5 bg-green-100 text-green-700">
  <span class="block">Mi mensjae de info</span>
  <button type="button" class="btn-close absolute top-0 right-0 w-6" aria-label="Close"><i class="fa-light fa-times"></i></button>
</div>

<div role="alert" class="alert toast fixed bottom-0 left-1/2 -translate-x-1/2 shadow-lg rounded-t-xl p-5 bg-amber-200 text-amber-600">
  <span class="block">Mi mensjae de info</span>
  <button type="button" class="btn-close absolute top-0 right-0 w-6" aria-label="Close"><i class="fa-light fa-times"></i></button>
</div>

<div role="alert" class="alert toast fixed bottom-0 left-1/2 -translate-x-1/2 shadow-lg rounded-t-xl p-5 bg-rose-200 text-rose-600">
  <span class="block">Mi mensjae de info</span>
  <button type="button" class="btn-close absolute top-0 right-0 w-6" aria-label="Close"><i class="fa-light fa-times"></i></button>
</div>